.patron {
    -fx-padding: 3em;
    -fx-pref-width: 71em;
}

.conteneur {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.5em 0.5em 0 0.5em;
    -fx-font-size: 1.5em;
}

.nomUser {
    -fx-margin: 1em;
    -fx-font-size: 1em;
}

.contenue {
    -fx-padding: 1em;
}

.date {
    -fx-padding: 1em;
}

.likesBox {
    -fx-padding: 1em;
}

.buttonLike {
    -fx-padding: 0.2em;
}