.container {
    -fx-padding: 2em;
}

.vocal {
    -fx-alignement: center;
}

.black-rectangle {
    -fx-fill: black;
}

.grey-rectangle {
    -fx-fill: rgb(83, 83, 83);
}

ButtonG,
Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}


/* Par défaut, l'opacité du bouton est à zéro */
.container .button-corbeille {
    -fx-opacity: 0.0;
}

/* Au survol de la publication, augmentez l'opacité du bouton à 1.0 */
.container:hover .button-corbeille {
    -fx-opacity: 1.0;
    -fx-cursor: hand;
}