* {
    -fx-alignment: center;
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-pref-width: 20em;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 0.1em 0;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 1em;
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-border-radius: 1em;
    -fx-pref-width: 10em;
    -fx-transition: background-color 2s;
}

.button:hover {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-transition: background-color 2s;
    -fx-cursor: hand;
}

.erreur {
    -fx-border-color: #ff0000;
}