* {
    -fx-border-style: solid;
    -fx-border-width: 0 0.3em 0 0;
    -fx-border-color: black;
    -fx-alignment: top-left;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 10em;
}

.button:hover {
    -fx-text-fill: white;
    -fx-background-color: black;
}