* {
    -fx-alignment: top-center;
}

Label {
    -fx-padding: 1em;
}

.erreur {
    -fx-text-fill: red;
}

.black-rectangle {
    -fx-fill: black;
}

.grey-rectangle {
    -fx-fill: rgb(83, 83, 83);
}

.publier {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 10em;
}

.publier:hover {
    -fx-text-fill: white;
    -fx-background-color: black;
}

TextAreaPubli {
    -fx-background-color: transparent;
}

ButtonG {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}